@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0; 
    padding: 0;
    font-family: "Work Sans", sans-serif;

}
.btn{
padding: 8px 10px 8px 10px;
background: rgb(82, 195, 3);
color: rgb(255, 255, 255);
font-size: 12px;
font-weight: 500;
line-height: 20px;
text-align: center;
border: none;
border-radius: 5px;
margin-top: 15px;
}
#hero{
    height:617px;
    background-image: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), 
    url(../Assets/Images/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 440px;
    margin: 0 auto;
}

#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;

}

#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-content .discription{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}